body{
    margin: 0%;
    padding: 0%;
    font-family: 'Oswald', sans-serif; 
    background-color:azure;
    font-size: 20px;
    
}
.head-section{
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 80px;
}
h1{
    font-size: 40px;
    margin-left: 10px;
}
.aqua-color{
    font-size: 38px;
    color: aqua;
    margin-left: 10px;
}
.head-info-title{
    border-left: 4px solid ;
    border-radius: 1px;
    border-image:linear-gradient(blue, cyan) 30; 

}
.head-picture img{
    width:450px;
}
.button a{
    text-decoration: none;
    border: 1px solid aqua;
    background-image: linear-gradient(45deg ,blue,aqua) ;
    border-radius: 8px;

    padding: 8px 20px;
    color: white;
}
hr{
    border-top: 1px solid snow;
    margin-top: 50px;
}
.mission-title{
    color: blue;
    text-align: center;
}
.mission-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.mission{
    border: 0px solid rgb(226, 168, 168);
    width: 300px;
    height: 430px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(168, 228, 222, 0.664);
    box-shadow: 10px 10px 45px rgb(226, 168, 168);
}
.mission img {
    width: 200px;

}
.vission{
    background-color: rgba(238, 201, 238, 0.699);
}
.goal{
    background-color: rgba(235, 162, 149, 0.568);
}
.mid-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
   background-size: 200px;
   background-position: left;
   margin-top: 40px;
}
.mid-section img{
    width: 450px;
    margin-left: 100px;
    margin-top: 50px;
}
.mid-section-info{
    margin-left: 60px;
    margin-right: 80px;
}
.mar-less{
    margin-top: -40px;
}
.mid-section-two{
    height: 650px;
    background-position: right bottom;
    margin-right: 50px;

}
.mid-section-two img{
    margin-right: 80px;
    margin-left: 20px;


}
#mid-two-info{
    margin-left: 100px;
    text-align: justify;
}
.my-skill{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.skill-contact{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    width:800px;
    padding: 20px;
    margin:20px;

}

#skill-icon img{
    width: 60px;
    height: 60px;
    margin: 20px;
}
#social-icon a img{
    
    width: 60px;
    height: 60px;
    margin: 20px;

}
#social-icon a{
    text-decoration: none;

}


footer{
    height:150px;
    color: white;
    text-align: center;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
}
